h1 {
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px black;
}
p {
  font-size: 2em;
  padding-bottom: 10px;
  text-align: center;
}
.box {
  width: 500px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.dangnhap {
  width: 500px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
.btn-primary {
  width: 100%;
}
.theA {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.overall {
  border-radius: 30px;
  width: 600px;
  margin: 0 auto;
}
